PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/roomreview?schema=public"
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
SENDGRID_API_KEY=ypur-sendgrid-api-key
EMAIL_FROM=valid-email-address
SENDGRID_SANDBOX_MODE=true
ROOMREVIEW_CONTACT_LINK=http://localhost:3000/contact-us
ROOMREVIEW_RESET_PASSWORD_LINK=http://localhost:3000/reset-password